.app {
  display: flex;
}

.withNav .content {
  margin-left: 11.25rem;
  width: 100%;
}

.content {
  flex-grow: 1;
}

@media (max-width: 480px) {
  .withNav .content {
    margin-left: 0;
    margin-bottom: 3.75rem;
    width: 100%;
  }
}
