:root {
  --main_color: #4c89af;
  --main_color_hover: #337197;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  color: var(--main_color);
}

.dashboard {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dashboard h2 {
  border-bottom: 2px solid var(--main_color);
  padding-bottom: 10px;
}

button {
  background-color: var(--main_color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--main_color_hover);
}

form {
  padding: 10px;
}

form div {
  margin-bottom: 10px;
}

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="number"], select {
  width: 10%;
  min-width: 120px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
  border-color: var(--main_color);
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 5px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.action-cell {
  border-bottom: none;
  background-color: transparent;
}

.action-cell:hover {
  background-color: transparent;
}

.chart {
  width: 120%;
  height: 400px;
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
