.categoriesPage {
  padding: 1.25rem;
}

.categoryList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.categoryCard {
  display: flex;
  width: 34%;
  padding: 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: var(--box_shadow_color);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.selected {
  transform: scale(1.05);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
}
@media (hover: hover) {
  .categoryCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
  }
}

.categoryCardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.categoryName {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  color: white;
}

.addCategoryButton {
  display: flex;
  align-self: center;
  cursor: pointer;
  transition: color 0.3s ease;
}
.addCategoryButton:hover {
  color: white;
}

.removeButton {
  display: flex;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.removeButton:hover {
  transform: scale(1.2);
}
