.categoriesPage {
  padding: 20px;
}

.addCategoryButton {
  display: flex;
  cursor: pointer;
  transition: color 0.3s ease;
}
.addCategoryButton:hover {
  color: white;
}

.categoriesPageBox {
  display: flex;
  flex-direction: row;
}

.categoryList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryCard {
  display: flex;
  width: 34%;
  padding: 20px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: var(--box_shadow_color);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.categoryCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.categoryCardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.categoryName {
  font-size: 1.2rem;
  color: white;
}

.removeButton {
  display: flex;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.removeButton:hover {
  transform: scale(1.2);
}
