.dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.summaryColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chartsColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chartBox,
.summaryColumn > div {
  transition: transform 0.3s ease;
}
.chartBox:hover,
.summaryColumn > div:hover {
  transform: translateY(-2px);
}

@media (max-width: 480px) {
  .dashboard {
    padding: 10px;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .summaryColumn {
    gap: 7px;
  }

  .chartsColumn {
    gap: 7px;
  }
}
