.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.heroSection {
  margin-bottom: 10px;
}
.heroSection p {
  font-size: 18px;
  color: var(--text_color_medium);
}

.loginBox {
  padding: 30px 50px !important;
}
.loginBox h2 {
  margin-bottom: 40px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signupText {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--text_color_medium);
}
.signupLink {
  color: var(--main_color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.signupLink:hover {
  color: var(--main_color_hover);
}

.errorMessage {
  color: var(--error_color);
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .loginBox {
    padding: 30px 35px !important;
  }
}
