.transactionsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.tabContainer {
  display: flex;
  margin-bottom: 1.5rem;
}
.tab {
  flex: 1;
  background-color: var(--background_color);
  font-size: 14px;
  padding: 0.15rem;
}
.activeTab {
  background-color: var(--main_color_hover);
}

.filterButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  margin-bottom: 0.625rem;
  font-weight: 500;
}
.filterButton:hover {
  transform: translateY(0);
}

tr.selected td {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.removeButton {
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.removeButton:hover {
  transform: scale(1.2);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  align-items: center;
}

.pagination button {
  padding: 0.5rem 1rem;
  background: #bbb;
}

@media (hover: hover) {
  .pagination button:hover {
    background-color: #ccc;
  }
}

.pagination .activePage {
  font-weight: bold;
  background-color: var(--main_color);
}

.pagination span {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  color: #888;
}

@media (max-width: 480px) {
  .transactionsPage {
    padding: 0.8rem 0.4rem;
  }

  tr.selected td {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  .pagination button {
    padding: 0.25rem 0.65rem;
  }
}
