.transactionsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.filterButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  margin-bottom: 10px;
  font-weight: 500;
}
.filterButton:hover {
  transform: translateY(0);
}

.filterForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.filterForm div {
  width: calc(33% - 10px);
}
.dateInputsContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.dateInputsContainer div {
  flex: 1;
}

.actionCell {
  border-bottom: none;
  background-color: transparent;
  width: 5%;
  padding: 5px;
}
.removeButton {
  background-color: #e74c3c;
  padding: 5px 10px;
}
.removeButton:hover {
  background-color: #c0392b;
}

@media (max-width: 480px) {
  .transactionsPage {
    padding: 1rem;
  }
}
