.chartContainer {
  display: flex;
  padding: 0.3rem 0;
}

.chartWrapper {
  flex: 2;
  height: 16rem;
}

.headerAndLegendWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: -4.75rem;
}
.headerAndLegendWrapper h3 {
  font-size: 1.2rem;
  font-weight: normal;
  flex: auto;
}

.legendWrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.legendItem {
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 7rem;
}

.legendIcon {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

@media (max-width: 480px) {
  .chartWrapper {
    height: 10rem;
  }
  .headerAndLegendWrapper h3 {
    font-size: 0.8rem;
    font-weight: normal;
    flex: auto;
  }
}
