.dateFilterBarOptions {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  background-color: transparent;
}

.dateFilterBarOptions div {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 0.625rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text_color);
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (hover:hover) {
  .dateFilterBarOptions div:hover {
    color: var(--background_color);
    background-color: var(--text_color);
  }
}

.dateFilterBarOptions div.active {
  color: var(--background_color);
  background-color: var(--text_color);
}

.customDateInputs {
  display: flex;
  padding: 0.625rem;
  gap: 1rem;
}
.dateInputGroup {
  flex: 1;
}
