.transactionList {
  padding: 0;
  margin: 0;
}

.transactionItem {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
  color: var(--text_color);
}
.transactionItem:last-child {
  border-bottom: none;
}
.transactionDate {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.transactionCategory {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.transactionAmount {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  font-weight: bold;
}

.viewAllLink {
  display: inline-block;
  margin-top: 1rem;
  text-align: right;
  color: var(--main_color);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}
.viewAllLink:hover {
  text-decoration: underline;
  color: var(--main_color_hover);
}
