.categoryList {
  padding: 0;
}

.categoryItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.categoryName {
  min-width: 5rem;
  max-width: 5rem;
  font-weight: 500;
  color: var(--text_color_medium);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categoryBar {
  height: 0.75rem;
  background-color: var(--main_color);
  margin: 0 0.625rem;
  border-radius: 0.4rem;
  transition: width 0.3s ease;
}

.categoryTotal {
  font-weight: bold;
}
