.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.setAccountBalanceForm {
  background: var(--card_color);
  max-width: 70vw;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: var(--box_shadow_color);
}
.setAccountBalanceForm div {
  margin-bottom: 0.2rem;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.inputContainer button {
  padding: 0.45rem 1.5rem;
}

@media (max-width: 480px) {
  .setAccountBalanceForm h3 {
    font-size: 1rem;
  }
}
