.registerpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.register-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--box_shadow_color);
  max-width: 400px;
  width: 100%;
}

.register-box h1 {
  font-size: 24px;
  color: var(--main_color);
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error-message {
  color: var(--error_color);
  font-size: 14px;
  margin-bottom: 10px;
}
