.addTransactionForm {
  background: var(--card_color);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: var(--box_shadow_color);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.addTransactionForm input,
.addTransactionForm select {
  margin-bottom: 15px;
}

.addTransactionForm button {
  margin-top: 10px;
  width: 100%;
}

.addTransactionForm button[type="submit"] {
  margin-bottom: 10px;
}

.addTransactionForm button[type="button"] {
  background-color: #f44336;
}
