.filterForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.filterForm div {
  flex: 1;
}
.dateInputsContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.dateInputsContainer div {
  flex: 1;
}
